@media screen and (max-width: 480px) {
    .herolist li {
		width: 23%;
		height: 23%;
		float: left;
		margin: 1%;
	}
}
  
@media screen and (min-width: 480px) {
	.herolist li {
		width: 14.6%;
		height: 14.6%;
		float: left;
		margin: 1%;
	}
}
@media screen and (min-width: 960px ) {
	.herolist li {
		width: 8%;
		height: 8%;
		float: left;
		margin: 1%;
	}
}

* {
	    padding: 0px;
}
p{
		padding: 10px;
}
.herolist {
		list-style: none;
			font-size: 12px;
}

.herolist img{
		
		width: 100%;
}
.icon {
		width: 100%;
}
.note {
		width: 100%;
				text-align: center;
}
.note span{
		height: 1%;
					white-space:nowrap;
}
/*==============================*/
.skilllist li {
		float: left;
				margin: 2px;
}
.skilllist{
		list-style: none;
			padding-left: 2px;
				font-size: 12px;
}
.skill_icon {
		width: 30px;
				height: 33px;
}
.skill_key {
		width: 30px;
				text-align: center;
}
.zb_icon {
		width: 50px;
}

